*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/JavaBasico/EjemploANT/nbproject/private/
/JavaBasico/EjemploANT/build/
/JavaBasico/EjemploANT/dist/
/JavaBasico/EjemploMaven/target/
/JavaBasico/EjemploBasico/nbproject/private/
/JavaBasico/EjemploJPA/nbproject/private/
/JavaBasico/EjemploJPA/build/
/JavaBasico/EjemploJPA/dist/
/JavaBasico/EjemploSOA/nbproject/private/
/JavaBasico/EjemploSOA/build/
/JavaBasico/EjemploBasico/build/
/UML/Clases/nbproject/private/
/UML/Clases/build/